<div *ngIf="movie$ | async; let movie" class=" ui fluid container grid">
  <div class="row">
    <div class="four wide column"><img [src]="movie.poster_path" class="ui fluid rounded image" alt="cover photo">
    </div>
    <div class="eight wide column">
      <div class="row">
        <div class="one wide column">
          <h1>{{movie.title}}</h1>
        </div>
      </div>
      <div class="row">
        {{movie.overview}}
      </div>
      <div class="row">



      </div>
    </div>
  </div>

  <table style="width: inherit" *ngIf="cast$ | async; let cast">
    <caption>
      <div class="ui divider"></div>
      <h2>Cast</h2>
    </caption>
    <tbody>
      <tr style="border: 1px solid white" *ngFor="let c of cast">
        <td><img class="ui tiny image" [src]="c.profile_path" [alt]=c.name></td>
        <td><span [routerLink]="['/actor', c.id]">{{c.name}}</span></td>
        <td>. . .</td>
        <td>{{c.character}}</td>
      </tr>
    </tbody>
  </table>

</div>
