<div *ngIf="actor$ | async; let actor" class=" ui fluid container stackable grid">
  <div class="row">
    <div class="four wide column"><img [src]="actor.profile_path" class="ui fluid rounded image notClickable" alt="">
    </div>
    <div class="eight wide column">
      <div class="row">
        <div class="one wide column">
          <h1>{{actor.name}}</h1>
        </div>
      </div>
      <p class="overview">{{actor.biography}}</p>
      <p class="overview" *ngIf="actor.birthday">Born: {{actor.birthday}} in {{actor.place_of_birth}}</p>
      <p class="overview" *ngIf="actor.deathday">Died: {{actor.deathday}}</p>
    </div>
  </div>

  <div *ngIf="loading" style="width: 10%;
    margin: 0 auto">
    <mat-spinner></mat-spinner>
  </div>

  <table style="width: inherit" *ngIf="credits$ | async; let credits">
    <caption>
      <div class="ui divider"></div>
      <h2>Movies</h2>
    </caption>
    <tbody>
      <tr style="border: 1px solid white" *ngFor="let c of credits">
        <ng-container *ngIf="c.media_type == 'movie'">
          <td><img [routerLink]="['/movie', c.id]" class="ui tiny rounded image" [src]="c.poster_path" [alt]=c.title>
          </td>
          <td><span [routerLink]="['/movie', c.id]"> <strong>{{c.title}}</strong> </span><br>{{c.character}}</td>
          <!-- <td>. . .</td> -->
          <td>{{c.release_date | date: 'yyyy'}}</td>
        </ng-container>
        <ng-container *ngIf="c.media_type == 'tv'">
          <td><img [routerLink]="['/series', c.id]" class="ui tiny rounded image" [src]="c.poster_path" [alt]=c.title>
          </td>
          <td><span [routerLink]="['/series', c.id]"> <strong>{{c.name}} (TV series)</strong> <br>{{c.character}}</span>
          </td>
          <!-- <td>. . .</td> -->
          <td>{{c.first_air_date | date: 'yyyy'}}</td>
        </ng-container>

      </tr>
    </tbody>
  </table>
</div>
